<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Main page</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    You won't find here what you look for;
<footer>
    <% include  partial/footer.ejs %>
</footer>
</div>
</body>
</html>