<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>IP.S</title>
</head>
<body>
<% include partial/header.ejs %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <form action="/check" method="post">
                <input type="text" name="address" value="31.131.19.12"><br><br>
                <input type="submit" value="Check">
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <footer>
        <% include partial/footer.ejs %>
    </footer>
</div>

<script src="/js/jquery.min.js" crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>