<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>IP.S search engine</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<% include partial/header.ejs %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <form action="/check" method="post">
                <input type="text" name="address" value="31.131.19.12"><br><br>
                <input type="submit" value="Check">
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <footer>
        <% include partial/footer.ejs %>
    </footer>
</div>

<script src="/js/jquery.min.js" crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>