.navbar {
    border-radius: 0;
    background-color: #333;
}

.login-form {
    border-radius: 0;
    background-color: #333;
}

.btn-login:hover {
    background-color: whitesmoke;
    color: #333;
}

.btn-login {
    background-color: #333;
    color: white;
    width: 100%;
}

.btn {
    border-radius: 0;
}

.dropdown-menu {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

a {
    color: white;
}

.active {

}
