.navbar {
    border-radius: 0;
    background-color: #333;
}

.login-form {
    border-radius: 0;
    background-color: #333;
}

.btn-login:hover {
    background-color: whitesmoke;
    color: #333;
}

.btn-login {
    background-color: #333;
    color: white;
    width: 100%;
}

.btn {
    border-radius: 0;
}

.dropdown-menu {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

.nav > * > a {
    color: white;
}

.nav > * > a:hover {
    color: #333;
}

.open > a {
    color: #333;
}

.panel .panel-heading {
    color: white;
    background-color: #333;
    border-color: #333;
}

/*.panel .panel-heading:hover {*/
    /*color: #333;*/
    /*background-color: whitesmoke;*/
    /*border-color: #333;*/
/*}*/

.panel-heading a {
    color: white;
}

/*.panel-heading:hover a {*/
    /*color: #333;*/
/*}*/

/*.panel-heading:hover a:hover {*/
    /*color: #333;*/
/*}*/

.clickable
{
    cursor: pointer;
}

.active {

}
