<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
<link rel="stylesheet" href="/css/general.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

<nav class="navbar header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">IP.S</a>
        </div>
        <form class="navbar-form navbar-left" action="/search" method="post">
            <div class="form-group">
                <input type="text" name="query" class="form-control" placeholder="Search for IP or service">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav nav_colors">
                <li><a href="#">Advanced</a></li>
                <li><a href="#">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Statistics <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <% if (user) { %>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Log out</a></li>
                    <% } else { %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Login</a>
                        <ul class="dropdown-menu">
                            <li style="margin: 15px 33px 15px 33px;">
                                <div class="row text-center">
                                    <form class="form" action="/login" method="post" accept-charset="UTF-8">
                                        <div class="form-group">
                                            <input type="text" name="email" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" placeholder="Password">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="/signup" class="btn btn-login">Signup</a>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-login">Login</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row" style="padding-top: 5%;">
                                    <div class="col-md-6" style="padding: 0 1% 0 0;">
                                        <a href="/auth/facebook" class="btn btn-login">
                                            <span class="fa fa-facebook"></span>
                                            &nbsp;Facebok</a>
                                    </div>
                                    <div class="col-md-6" style="padding: 0 0 1% 0;">
                                        <a href="/auth/google" class="btn btn-login">
                                            <span class="fa fa-google-plus"></span>
                                            &nbsp;Google
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="padding: 1% 1% 0 0;">
                                        <a href="/auth/github" class="btn btn-login">
                                            <span class="fa fa-github"></span>&nbsp;GitHub</a>
                                    </div>
                                    <div class="col-md-6" style="padding: 1% 0 1% 0;">
                                        <a href="/auth/twitter" class="btn btn-login">
                                            <span class="fa fa-twitter"></span>&nbsp;Twitter</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</nav>